2v2/
apc/
ar_shoots/
birds/
control_point_master/
coop/
de_dust2/
de_safehouse/
de_stmarc/
de_train/
de_vertigo/
dev/
flyguydev/
gd_rialto/
training/
mapspawn.nut
vip/vmfs/*.log
vip/vmfs/*.bsp
vip/vmfs/*.prt
vip/vmfs/*.vmx
